---
import { getCollection } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<!DOCTYPE html>
<html>
  <head>
    <title>{post.data.title}</title>
  </head>
  <body>
    <a href="/">← Back</a>
    <h1>{post.data.title}</h1>
    <Content />
  </body>
</html>