---
---

<!DOCTYPE html>
<html>
<head><link rel="icon" href="/favicon.ico"><head></head>
  <title>About</title>
</head>
<body>
  <a href="/">← Home</a>
  <h1>About Me</h1>
  <hr>

  <p>Nothing here yet because I haven't done anything yet.</p>

  <p>You can contact me at contact@aaronsenese.com</p>

  <hr>
  <a href="/">← Home</a>
</body>
</html>