---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<!DOCTYPE html>
<html>
<head><link rel="icon" href="/favicon.ico"><head></head>
  <title>Posts -- aaronsenese.com</title>
</head>
<body>
  <a href="/">← Home</a>
  <h1>Posts</h1>
  <hr>
  {posts.length === 0 ? (
    <p>No posts yet.</p>
  ) : (
    <ul>
      {posts.map((post) => (
        <li><a href={`/posts/${post.id}`}>{post.data.title}</a></li>
      ))}
    </ul>
  )}
  <hr>
  <a href="/">← Home</a>
</body>
</html>