---
import { getCollection } from 'astro:content';
const posts = await getCollection('blog');
---

<!DOCTYPE html>
<html>
  <head>
    <title>Aaron's Place</title>
  </head>
  <body>
    <h1>5/30/26 11:01 PM</h1>
    <p>Hello World</p>

    <h2>Posts</h2>
    {posts.map((post) => (
      <div>
        <a href={`/posts/${post.id}`}>{post.data.title}</a>
      </div>
    ))}
  </body>
</html>