<!DOCTYPE html>
<html>
<head>
  <title>aaronsenese.com</title>
</head>
<body>
  <h1>aaronsenese.com</h1>
  <hr>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/posts">Posts</a></li>
  </ul>
</body>
</html>