<!DOCTYPE html>
<html>
<head><link rel="icon" href="/favicon.ico"><head>
  <title>aaronsenese.com</title>
</head>
<body>
  <h1>aaronsenese.com</h1>
  <hr>
  <ul>
    <li><a href="/about">About</a></li>
    <li><a href="/blog">Posts</a></li>
  </ul>
</body>
</html>